@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body {
    font-family: 'Lato';
    color: #424551;
}
.wrapper {
    overflow: hidden;
    min-height: 100%;
    position: relative;

    display: flex;
    flex-direction: column;
}
.wrapper > main {
    flex-grow: 1;
}
/* ==== Обмежуючий контейнер ==== */

[class*="__container"] {
    max-width: 1260px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* ================ */
.page {}
.page__main {}
/* ==== header ==== */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    z-index: 50;
}
.header__container {
    display: flex;
    align-items: center;
    gap: 60px;
}
.header__logo {}
.header__menu {
    flex-grow: 1;
}
.header__actions {}

.menu {}
.menu__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 10px;
}
.menu__item {}
.menu__link {
    font-weight: 700;
}
.menu__link:hover{
    text-decoration: underline;
}
.actions-header {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    
    /* flex-wrap: wrap; */
}
.actions-header__button {
    margin-right: 36px;
}
.actions-header__log {
    background: url("../img/icons/user.svg") left no-repeat;
    padding-left: 24px; 
    font-weight: 700;
    line-height: 1.25;
    margin-right: 18px;
}
.actions-header__reg {
    font-weight: 700;
    line-height: 1.25;
    position: relative;

}
.actions-header__reg::before {
    content: "/";
    position: absolute;
    left: -12px;
}
.actions-header__reg:hover span,
.actions-header__log:hover span {
    text-decoration: underline;
}
/* =================== */

.main-block {
    padding: 200px 0px 80px 0px;
    background: linear-gradient(55.95deg, rgba(255, 64, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
    position: relative;
}
.main-block__container {
    position: relative;
    z-index: 2;
}
.main-block__body {
    margin-bottom: 190px;
}
.main-block__advantages {}
.main-block__decor {}

.body-main {
    display: flex;
}
.body-main__content{
    flex: 0 1 50%;
    padding-right: 40px;
    align-self: center;
}
.body-main__play {
    font-weight: 700;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    gap: 16px;
    position: relative;
}
.body-main__play:not(:last-child) {
    margin-bottom: 40px;
}
.body-main__play::before {
    content: "";
    flex: 0 0 52px;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background:  #FF3F3A url("../img/icons/play.svg") center no-repeat;
}
.body-main__play::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: #FF3F3A;
    opacity: 0.12;
    transform: scale(1.6);
    animation: play-circle 1s infinite ease alternate;
}
.body-main__play:hover::after {
    animation-play-state: paused;
}

@keyframes play-circle {
    0% {
        transform: scale(1.6);
    }
    100% {
        transform: scale(1.8);
    }
}
.body-main__title {
    font-weight: 900;
    font-size: 64px;
    line-height: 130%;
    letter-spacing: 1px;
    color: #1E212C;
}
.body-main__title:not(:last-child) {
    margin-bottom: 60px;
}
.body-main__actions {
    display: flex;
    align-items: center;
    gap: 24px;
}
.body-main__button {}
.body-main__madia {
    flex: 0 1 50%;
}
.body-main__image {
/*  max-width: 107.8%;
    transform: translate(7.8%, 0px); */
    max-width: 100%;
    margin-left: 47px;
}
.advantages-main {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;  
}
.advantages-main__item {}

.item-advantages {
    color: #1E212C;
    display: flex;
    align-items: center;
    gap: 12px;
}
.item-advantages__value {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
}
.item-advantages__text {
    line-height: 1.5;
}
.advantages-main__circle{
    background: #FF3F3A;
    flex: 0 0 8px;
    height: 8px;
    border-radius: 50%;
}
.decor-item {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.decor-item__item {
    position: absolute;
}
.decor-item__item--1 {
    background: url("../img/dekor/1.svg") 0 0 no-repeat;
    width: 96px;
    height: 96px;
    top: 12%;
    left: 4.2%;
}
.decor-item__item--2 {
    background: url("../img/dekor/2.svg") 0 0 no-repeat;
    width: 284px;
    height: 284px;
    bottom: -9.2%;
    left: -5.5%;
}
.decor-item__item--3 {    
    background: url("../img/dekor/3.svg") 0 0 no-repeat;
    width: 88px;
    height: 47px;
    top: 45%;
    left: 40%;
}
.decor-item__item--4 {
    background: url("../img/dekor/4.svg") 0 0 no-repeat;
    width: 61px;
    height: 61px;
    bottom: 24%;
    left: 38%;
}
.decor-item__item--5 {
    background: url("../img/dekor/1.svg") 0 0 no-repeat;
    width: 96px;
    height: 96px;
    top: -1.7%;
    right: 4%;
    transform: rotate(135deg);
}
.decor-item__item--6 {
    background: url("../img/dekor/5.svg") 0 0 no-repeat;
    width: 187px;
    height: 137px;
    bottom: 18%;
    right: -1.5%;
}
/* =================== */

.about {
    position: relative;
}
.about__container {
    padding-top: 180px;
    padding-bottom: 180px;
    z-index: 2;
	position: relative;
}
.about__body {
    display: flex;
}
.about__image {
    max-width: 705px;
}
.about__image img {
    max-width: 100%;
    border-radius: 4px;
}
.about__item {}
.about__decor {}

.create-list {
    padding-left: 135px;
}
.create-list__title {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 40px;
}
.create-list__title h6 {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1E212C;
}
.create-list__title h3 {
    font-weight: 900;
    font-size: 46px;
    line-height: 1.3;
    color: #1E212C;
}
.create-list__bullete {
    margin-bottom: 48px;
    max-width: 390px;
}
.create-list__button {}

.list {}
.list__item {
    line-height: 1.6;
    position: relative;    
    padding-left: 32px;
}
.list__item::before {
    content: "";
    background: url("../img/check.svg") 0 0 / 100% no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 5px;
    left: 0;
    transition: all 0.3s linear 0s;
}
.list__item:hover::before {
    transform: scale(1.2);
}
.list__item:not(:last-child) {
    margin-bottom: 12px;
}

.decot-element {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.decot-element__item {
    position: absolute;
}
.decot-element__item--1 {
    background: url("../img/dekor/6.svg") 0 0 no-repeat;
    width: 287px;
    height: 287px;
    top: 50.9%;
    right: -6.25%;    
}
.decot-element__item--2 {
    background: url("../img/dekor/7.svg") 0 0 no-repeat;
    width: 222px;
    height: 232px;
    top: 32%;
    left: -5.5%;  
}

/* =================== */